@import 'variables.scss';

@mixin font($font-family, $font-file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src:
      url($font-file + '.woff2') format('woff2'),
      url($font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Nunito', '/fonts/nunito/Nunito-Regular', 400, normal);
@include font('Nunito', '/fonts/nunito/Nunito-Italic', 400, italic);
@include font('Nunito', '/fonts/nunito/Nunito-ExtraBold', 800, normal);
@include font('Nunito', '/fonts/nunito/Nunito-ExtraBoldItalic', 800, italic);

* {
  box-sizing: border-box;
}

html, body {
  font-family: $font;
  line-height: 1.2;
}

select {
  font-family: $font;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
