$primaryText: black;

$colorGreen: #558B2F;
$colorBlue: #1565C0;
$colorRed: #c62828;
$colorYellow: #F9A825;
$colorGrey: #424242;
$colorGreyLight: #8c8c8c;
$colorGreyBright: #d0d0d0;
$colorCyan: #00838F;
