@import '../../../shared/variables.scss';

.Menu {
  padding-left: 20px;

  .menu-headline {
    text-align: left;
    width: 100%;
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: $primaryText;

    &.active {
      color: blue;
    }
  }

  ul {
    padding: 5px;
    margin: 0px;
    list-style-type: none;
  }

  li {
    text-align: left;

    &.logout-item {
      cursor: pointer;
    }
  }

  & > ul {
    & > li {
      // first level menu

    }
  }
}
