@import '../../../shared/variables.scss';

.Player {
  display: flex;
  width: 100%;
  cursor: pointer;

  .image-wrapper {
    img {
      width: 100px;
      height: 150px;
      border-radius: 5px;
    }
  }

  .data-wrapper {
    padding: 5px 10px;
    font-size: 14px;
    text-align: left;

    .name {
      color: $colorGreen;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: bold;
    }

    .age {
      margin-bottom: 5px;
    }

    .height {
      width: 50%;
    }

    .weight {
      width: 50%;
    }

    .skills-wrapper {
      font-size: 12px;
      margin-top: 6px;
    }
  }
}
